--- 
layout: base.njk 
permalink: /slides/ 
---

<h2 style="color:#5F5F5F;">簡報分享</h2>

<ul class="slide-image-list">
  <li class="slide-image-item">
    <a target="_blank" href="https://winnieuw.com/slides/0330-ext-vue/" class="slide-image-link" style="text-decoration: none;">
      <div>
        <img src="/images/0330_vue3.png" alt="cover" class="slide-image">
      </div>
      <h3>用Vite 開啟你的 Extension</h3>
      <p>v-tw meetup #09</p>
      <span class="slide-date ">2023/03/30</span>
    </a>
  </li>
  <li class="slide-image-item">
    <a target="_blank" href="https://winnieuw.com/slides/1025-vue-tw-slidev/1" 
    class="slide-image-link" style="text-decoration: none;">
      <div>
        <img src="/images/1025_vue.png" alt="cover" class="slide-image">
      </div>
      <h3>身為前端工程師，你有想過用Vue做簡報嗎</h3>
      <p>v-tw meetup #10</p>
      <span class="slide-date ">2023/10/25</span>
    </a>
  </li>
</ul>



